<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static',filename='desserts.js')}}"defer></script>
</head>
<body>
    <div id="jamun">
        <img src="{{ url_for('static', filename='assests/GulabJamun.jpg') }}" class="gulabjamun">
    <h1 id="dessert_name">Gulab Jamun</h1>
    <p id="gulab">a sweet and rich treat that is <br> made with milk solids, flour,<br> and sugar syrup</p>
    <button class="buy-button" style="top:55% ;left:17%;">Buy</button>
    <button id="cart-value"><span>0</span>Cart</button>
</div>
<div id="laddu">
    <img src="{{ url_for('static', filename='assests/laddu.jpg') }}" class="laddoo">
    <h1 id="dessert-laddu">Laddu</h1>
    <p id="sweet-laddu">
        Boondi Ladoo is a popular <br> traditional Indian sweet made using <br> gram flour, sugar and ghee.
    </p>
    <button class="buy-button" style="top:55% ;left:45%;">Buy</button>

</div>
</body>
</html>